#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 360px;
  padding: 24px 0;
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pace-time {
  position: relative;
  margin-top: 20px;
  /* background-color: lightgreen; */
  width: 100%;
}

.pace-time-inputs {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: monospace;
  font-size: 18px;
}

.pace-time-slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.fast,
.slow {
  position: absolute;
  bottom: 8%;
  font-size: 24px;
}

.fast {
  left: 12%;
}

.slow {
  right: 12%;
}

.go-faster,
.go-slower {
  position: absolute;
  top: 40%;
  /* font-size: 24px; */
}

.go-faster {
  left: 12%;
}

.go-slower {
  right: 12%;
}
