#root {
  display: flex;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
}

.App {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.distance-header,
.pace-time-header {
  font-size: 32px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 12px;
}

.pace-time-header {
  margin-top: 24px;
}

.pace-time {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.pace-time-inputs {
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
}

.pace-time-slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.fast,
.slow {
  position: absolute;
  top: 2%;
  font-size: 28px;
  font-weight: 300;
  user-select: none;
}
.fast {
  left: 12%;
}
.slow {
  right: 12%;
}

.time-container,
.pace-container {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go-faster,
.go-slower {
  svg {
    font-size: 36px;
  }
}

.digit {
  font-size: 28px;
}

.metric {
  font-size: 20px;
  align-self: baseline;
}

#copyright {
  position: fixed;
  font-size: 12px;
  bottom: 12px;
}

hr {
  border-top: 1px solid #b8bde0;
  margin: 4px 12px;
}
