#root {
  display: flex;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
}

.App {
  width: 360px;
  padding: 24px 0;
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pace-time {
  position: relative;
  margin-top: 20px;
  /* background-color: lightgreen; */
  width: 100%;
}

.pace-time-inputs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
}

.pace-time-slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.fast,
.slow {
  position: absolute;
  bottom: 6%;
  font-size: 28px;
}

.fast {
  left: 12%;
}

.slow {
  right: 12%;
}

.go-faster,
.go-slower {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    font-size: 72px;
  }
}

$btn-offset: 16px;
.go-faster {
  left: $btn-offset;
}
.go-slower {
  right: $btn-offset;
}


.digit {
  font-size: 32px;
}

.metric {
  font-size: 20px;
}