#root {
  display: flex;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
}

.App {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 12px;
}

.pace-time {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.pace-time-inputs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
}

.pace-time-slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.fast,
.slow {
  position: absolute;
  top: 2%;
  font-size: 28px;
  font-weight: 300;
  user-select: none;
}
.fast {
  left: 12%;
}
.slow {
  right: 12%;
}

.go-faster,
.go-slower {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    font-size: 60px;
  }
}

$btn-offset: 20px;
.go-faster {
  left: $btn-offset;
}
.go-slower {
  right: $btn-offset;
}

.digit {
  font-size: 32px;
}

.metric {
  font-size: 20px;
}
